
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #f0f0f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: linear-gradient(-45deg,
  #d3312d,
  #0078AC,
  #d3312d,
  #0078AC,
  #d3312d,
  #0078AC,
  #d3312d,
  #0078AC
  );
	background-size: 600% 600%;
	animation: gradient 30s ease infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}